<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- <div class="create"><p class="post">+</p></div> -->

      <main>
        <%- include("partials/header.ejs") %>
        <div class="posts-container">
          <% posts.forEach(post => { %>
          <div class="post-card">
            <img src="<%= post.photo %>" alt="Post image" class="post-img" />
            <div class="post-content">
              <h2 class="post-title"><%= post.name %></h2>
              <p class="post-bio"><%= post.bio %></p>
              <a href="/post/<%= post.id %>" class="post-link">See more →</a>
              <button><a href="/post/<%= post.id %>/edit">Edit</a></button>
              <button class="deleteconf" data-id="<%= post.id %>">
                Delete
              </button>
            </div>
          </div>
          <% }) %>
        </div>

        <div id="confirmPopup" class="popup-overlay" style="display: none">
          <div class="popup-box">
            <h3>Are you sure you want to delete this post?</h3>
            <form id="deleteForm" method="POST">
              <div class="popup-actions">
                <button type="submit" class="btn delete-btn">Delete</button>
                <button type="button" class="btn cancel-btn">Cancel</button>
              </div>
            </form>
          </div>
        </div>

        <button id="create_Post"><a href="/createPost">+</a></button>
      </main>

      <%- include("partials/footer.ejs") %>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="scripts/main.js"></script>
    </div>
  </body>
</html>
