<!DOCTYPE html>
<html>
  <head>
    <title><%= post.name %></title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div class="post-container">
      <h1><%= post.name %></h1>
      <img src="<%= post.photo %>" alt="photo" />
      <p><%= post.bio %></p>
      <div><%= post.content %></div>

      <div class="post-actions">
        <a href="/post/<%= post.id %>/edit">Update</a>
        <button class="delete">Delete</button>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
